<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wesolver: [{{ user.username }}] {{ sheet.name }}</title>

    <link rel="stylesheet" type="text/css" href="/ext-js/resources/css/ext-all.css" />

    <script type="text/javascript" src="/ext-js/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/ext-js/ext-all-debug.js"></script>

    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = '/ext-js/resources/images/default/s.gif';

        Ext.onReady(function(){

            var cols = [
                new Ext.grid.RowNumberer(),
                { id: "A", header: "A", dataIndex: "A", width: 75, editor: new Ext.form.TextField() },
                { id: "B", header: "B", dataIndex: "B", width: 75, editor: new Ext.form.TextField() },
                { id: "C", header: "C", dataIndex: "C", width: 75, editor: new Ext.form.TextField() },
                { id: "D", header: "D", dataIndex: "D", width: 75, editor: new Ext.form.TextField() },
                { id: "E", header: "E", dataIndex: "E", width: 75, editor: new Ext.form.TextField() },
                { id: "F", header: "F", dataIndex: "F", width: 75, editor: new Ext.form.TextField() },
                { id: "G", header: "G", dataIndex: "G", width: 75, editor: new Ext.form.TextField() },
                { id: "H", header: "H", dataIndex: "H", width: 75, editor: new Ext.form.TextField() },
                { id: "I", header: "I", dataIndex: "I", width: 75, editor: new Ext.form.TextField() },
                { id: "J", header: "J", dataIndex: "J", width: 75, editor: new Ext.form.TextField() },
            ];

            var store = new Ext.data.ArrayStore({
                // destroy the store if the grid is destroyed
                autoDestroy: true,

                fields: [
                    {name: "A"},
                    {name: "B"},
                    {name: "C"},
                    {name: "D"},
                    {name: "E"},
                    {name: "F"},
                    {name: "G"},
                    {name: "H"},
                    {name: "I"},
                    {name: "J"},
                ],
            });


            var grid = new Ext.grid.EditorGridPanel({
                store: store,
                columns: cols,
                renderTo: 'editor-grid',
                frame: true,
                height: 800,
                width: 600,
                clicksToEdit: 1,
            });


            function onAfterEdit(e) {
                var col = e.column;
                var row = e.row + 1;
                var value = e.value;
                var request = new XMLHttpRequest();
                var url = "update?row=" + encodeURIComponent(row) + "&col=" + encodeURIComponent(col) + "&value=" + encodeURIComponent(value);
                request.open("GET", url, false);
                request.send();
                load_sheet_json();
            }
            grid.on('afteredit', onAfterEdit);


            function onBeforeEdit(e) {
                var col = e.column - 1;
                var row = e.row;
                e.record.set(String.fromCharCode(e.column + 64), data["model"][row][col]);
                e.record.markDirty();
            }
            grid.on('beforeedit', onBeforeEdit);

            var data;
            function on_loaded_json(json) {
                data = JSON.parse(json);
                store.loadData(data["result"]);
                document.getElementById("header_code").value = data["header_code"]
                document.getElementById("constants_and_formatting").value = data["constants_and_formatting"]
                document.getElementById("formulae").value = data["formulae"]
            }


            function load_sheet_json() {
                var request = new XMLHttpRequest();
                request.open("GET", "json");
                request.onreadystatechange = function() {
                    if (request.readyState == 4) {
                        on_loaded_json(request.responseText);
                    }
                }
                request.send();
            }

            load_sheet_json();
        });


    </script>

</head>
<body>
    <h1>{{ sheet.name }}</h1>

    <table width="100%">
      <tr>
        <td width="50%" height="800px" valign="top">
          <div id="editor-grid"></div>
        </td>

        <td width="50%" valign="top">
          <table width="100%">
            <tr>
              <td width="100%">
                Header code<br/>
                <textarea id="header_code" rows="3" style="width: 100%">
                </textarea>
              </td>
            </tr>
            <tr>
              <td>
                Pre-constants user code<br/>
                <textarea rows="8"  style="width: 100%">
                </textarea>
              </td>
            </tr>
            <tr>
              <td>
                Constants and formatting<br/>
                <textarea id="constants_and_formatting" rows="3" style="width: 100%">
                </textarea>
              </td>
            </tr>
            <tr>
              <td>
                Pre-formula user code<br/>
                <textarea rows="8" style="width: 100%">
                </textarea>
              </td>
            </tr>
            <tr>
              <td>
                Formulae<br/>
                <textarea id="formulae" rows="3" style="width: 100%">
                </textarea>
              </td>
            </tr>
            <tr>
              <td>
                Post-formula user code code<br/>
                <textarea rows="8" style="width: 100%">
                </textarea>
              </td>
            </tr>
          </table>
        </td>
    </table>
</body>
</html>
