<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wesolver: [{{ user.username }}] {{ sheet.name }}</title>

    <!-- ** CSS ** -->
    <!-- base library -->
    <link rel="stylesheet" type="text/css" href="/ext-js/resources/css/ext-all.css" />

    <!-- overrides to base library -->

    <!-- page specific -->
    <link rel="stylesheet" type="text/css" href="/ext-js/examples/shared/examples.css" />
    <link rel="stylesheet" type="text/css" href="/ext-js/examples/grid/grid-examples.css" />

    <style type="text/css">

    </style>

    <!-- ** Javascript ** -->
    <!-- ExtJS library: base/adapter -->
    <script type="text/javascript" src="/ext-js/adapter/ext/ext-base.js"></script>

    <!-- ExtJS library: all widgets -->
    <script type="text/javascript" src="/ext-js/ext-all-debug.js"></script>

    <!-- overrides to base library -->

    <!-- page specific -->

    <script type="text/javascript">
      Ext.BLANK_IMAGE_URL = '/ext-js/resources/images/default/s.gif';

      Ext.onReady(function(){

          cols = [
            new Ext.grid.RowNumberer(),
            { id: "A", header: "A", dataIndex: "A", width: 220, editor: new Ext.form.TextField() },
            { id: "B", header: "B", dataIndex: "B", width: 220, editor: new Ext.form.TextField() },
            { id: "C", header: "C", dataIndex: "C", width: 220, editor: new Ext.form.TextField() },
            { id: "D", header: "D", dataIndex: "D", width: 220, editor: new Ext.form.TextField() },
            { id: "E", header: "E", dataIndex: "E", width: 220, editor: new Ext.form.TextField() },
            { id: "F", header: "F", dataIndex: "F", width: 220, editor: new Ext.form.TextField() },
            { id: "G", header: "G", dataIndex: "G", width: 220, editor: new Ext.form.TextField() },
            { id: "H", header: "H", dataIndex: "H", width: 220, editor: new Ext.form.TextField() },
            { id: "I", header: "I", dataIndex: "I", width: 220, editor: new Ext.form.TextField() },
            { id: "J", header: "J", dataIndex: "J", width: 220, editor: new Ext.form.TextField() },
          ];

          var store = new Ext.data.ArrayStore({
              // destroy the store if the grid is destroyed
              autoDestroy: true,

              fields: [
                {name: "A"},
                {name: "B"},
                {name: "C"},
                {name: "D"},
                {name: "E"},
                {name: "F"},
                {name: "G"},
                {name: "H"},
                {name: "I"},
                {name: "J"},
              ]
          });
          var data = [
            ["A1", "B1", "C1", "D1", "E1", "F1", "G1", "H1", "I1", "J1"],
            ["A2", "B2", "C2", "D2", "E2", "F2", "G2", "H2", "I2", "J2"],
            ["A3", "B3", "C3", "D3", "E3", "F3", "G3", "H3", "I3", "J3"],
            ["A4", "B4", "C4", "D4", "E4", "F4", "G4", "H4", "I4", "J4"],
            ["A5", "B5", "C5", "D5", "E5", "F5", "G5", "H5", "I5", "J5"],
          ];
          store.loadData(data);


          var grid = new Ext.grid.EditorGridPanel({
              store: store,
              columns: cols,
              renderTo: 'editor-grid',
              width: 600,
              height: 300,
              frame: true,
              clicksToEdit: 1,
          });

      });
    </script>

</head>
<body>
    <h1>{{ sheet.name }}</h1>

    <!-- the custom editor for the 'Light' column references the id="light" -->
    <select name="light" id="light" style="display: none;">
      <option value="Shade">Shade</option>
      <option value="Mostly Shady">Mostly Shady</option>
      <option value="Sun or Shade">Sun or Shade</option>

      <option value="Mostly Sunny">Mostly Sunny</option>
      <option value="Sunny">Sunny</option>
    </select>

    <div id="editor-grid"></div>
</body>
</html>
